/* 
    Document   : ie8
    Created on : 5/01/2013, 3:45:24 PM
    Author     : Pakage
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

